@keyframes overlayFadeIn {
  0% {
    backdrop-filter: blur(0px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(6px);
  }
}

@keyframes overlayFadeOut {
  0% {
    opacity: 1;
    backdrop-filter: blur(6px);
  }
  100% {
    backdrop-filter: blur(0px);
    opacity: 0;
  }
}

@keyframes containerFadeIn {
  0% {
    backdrop-filter: blur(6px);
    opacity: 0;
    transform: scale(115%);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(0px);
    transform: scale(100%);
  }
}

@keyframes containerFadeOut {
  0% {
    opacity: 1;
    backdrop-filter: blur(0px);
    transform: scale(100%);
  }
  100% {
    backdrop-filter: blur(6px);
    opacity: 0;
    transform: scale(115%);
  }
}

.gap {
  height: 60px;
}

.page-container {
  padding: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  transition: background-color 1s ease;
  color: var(--clr-light);
}

.guess-button,
.next-button,
.inactive-button {
  font-family: 'Beleren Bold', sans-serif;
  font-size: 1.1em;
  line-height: 1;
  font-weight: 400;
  height: 40px;
  width: 100%;
  max-width: 450px;
  padding: 0.75rem;
  border: none;
  transition: all 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--clr-light);
  user-select: none;
}
.guess-button {
  background-color: var(--clr-accent-orange);
  cursor: pointer;
  opacity: 1;
  color: var(--clr-light);
}
.next-button {
  background-color: var(--clr-accent-blue);
  cursor: pointer;
  opacity: 1;
  color: var(--clr-light);
}
.inactive-button {
  background-color: var(--clr-break);
  cursor: default;
  opacity: 0.4;
  color: var(--clr-light);
}
.guess-button:hover {
  background-color: var(--clr-accent-orange-hover);
  color: var(--clr-light);
}
.guess-button:active {
  background-color: var(--clr-accent-orange);
  color: var(--clr-light);
}
.next-button:hover {
  background-color: var(--clr-accent-blue-hover);
  color: var(--clr-light);
}
.next-button:active {
  background-color: var(--clr-accent-blue);
  color: var(--clr-light);
}
.inactive-button:hover {
  background-color: var(--clr-divider);
  color: var(--clr-light);
}

.quiz-button-text {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
}

.linear-progress {
  width: 100%;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -12;
  transition: opacity 0.5s ease-in-out;
}

.background-overlay {
  background-color: var(--clr-overlay);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.x-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  fill: var(--clr-break);
  transition: all 0.15s ease-in-out;
}
.x-icon:hover {
  fill: var(--clr-dark);
}

.gear-icon {
  width: 30px;
  height: 30px;
  fill: var(--clr-light);
  margin: 2px 0px 0px 0px;
}

.dark-blue-glow {
  filter: drop-shadow(0 0 1em #2a3a8988);
}
.dark-blue-glow:hover {
  filter: drop-shadow(0 0 1em #5478e688);
  transition: filter 0.15s ease-in-out;
}
.blue-glow {
  filter: drop-shadow(0 0 1em #64c6ff88);
}
.blue-glow:hover {
  filter: drop-shadow(0 0 1em #32b3fd88);
  transition: filter 0.15s ease-in-out;
}
.orange-glow {
  filter: drop-shadow(0 0 1em #ffbc6488);
}
.orange-glow:hover {
  filter: drop-shadow(0 0 1em #ffa52f88);
  transition: filter 0.15s ease-in-out;
}
.red-glow {
  filter: drop-shadow(0 0 1em #ff646488);
}
.red-glow:hover {
  filter: drop-shadow(0 0 1em #ff2f2f88);
  transition: filter 0.15s ease-in-out;
}
.grey-glow {
  filter: drop-shadow(0 0 1em #cacaca88);
}
.grey-glow:hover {
  filter: drop-shadow(0 0 1em #cfcfcf88);
  transition: filter 0.15s ease-in-out;
}
.green-glow {
  filter: drop-shadow(0 0 1em #69ff6488);
}
.green-glow:hover {
  filter: drop-shadow(0 0 1em #32ff2f88);
  transition: filter 0.15s ease-in-out;
}
.shadow-glow {
  filter: drop-shadow(0 0 1em var(--clr-screen));
}

.tooltip-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 2px 2px 2px;
}

.tooltip-text {
  font-family: 'Beleren Bold', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1;
  color: var(--clr-light);
  text-align: center;
  width: 100%;
}

.tooltip-image {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tooltip-image-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4px 0px 0px 0px;
}

.tooltip-image-text {
  font-family: 'Beleren Bold', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1;
  color: var(--clr-light);
  text-align: center;
  width: 100%;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiTooltip-tooltip {
  background: var(--clr-screen-blue) !important;
  border: 1px solid var(--clr-dark) !important;
  border-radius: 8px !important;
  backdrop-filter: blur(4px);
  padding: 8px !important;
  z-index: 20 !important;
  cursor: help;
}
.MuiTooltip-tooltip:hover {
  background: var(--clr-screen-blue-hover) !important;
}
