@keyframes cardEnter {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flipFace {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

@keyframes unflipFaceStart {
  0% {
    transform: rotateY(-360deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@keyframes unflipFaceEnd {
  0% {
    transform: rotateY(-180deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flipTransition {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-180deg);
  }
}

.card-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  perspective: 1000px;
  width: 300px;
  height: auto;
}

.flip-container {
  position: relative;
  height: 69vh;
  width: 600px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 1000px;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-container.animate-in {
  animation: cardEnter 0.6s ease-out;
}
.flip-container.unflip-end {
  animation: unflipFaceEnd 0.6s ease-in-out forwards;
}
.flip-container.animate-in {
  animation: cardEnter 0.6s ease-out;
}

.flip-container.flip-face {
  animation: flipFace 0.6s ease-in-out forwards;
}

.flip-container.unflip-face {
  animation: unflipFaceStart 0.6s ease-in-out forwards;
}

.flip-container.flip-transition {
  animation: flipTransition 0.6s ease-in-out forwards;
}

.flip-button {
  position: absolute;
  top: -5px;
  right: -170px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  color: var(--clr-icon);
  stroke: var(--clr-icon);
  font-size: 1.2em;
  transition: all 0.2s ease;
}
.flip-button:hover {
  transform: translateY(-2px) scale(105%);
}
.flip-button:active {
  transform: rotate(180deg);
}

.flip-icon {
  width: 35px;
  height: 35px;
  fill: var(--clr-icon);
  transition: all 0.5s ease-in-out;
}
.flip-icon:hover {
  color: var(--clr-accent-blue);
  fill: var(--clr-accent-blue);
}
.flip-icon:active {
  color: var(--clr-accent-blue);
  fill: var(--clr-accent-blue);
}

.fullscreen-icon-container {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
.flip-container:hover .fullscreen-icon-container,
.fullscreen-icon-container:hover {
  opacity: 1;
}

.fullscreen-icon {
  fill: var(--clr-icon);
  width: 35px;
  height: 35px;
  transition: all 0.15s ease-in-out;
}
.fullscreen-icon-container:hover .fullscreen-icon {
  fill: var(--clr-divider);
}
.fullscreen-icon-container:active .fullscreen-icon {
  fill: var(--clr-divider);
  transform: scale(95%);
}

.card-image-front,
.card-image-back {
  width: auto;
  height: 64vh;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
  transform-origin: bottom center;
  transform-style: preserve-3d;
}

.card-image-front {
  transform: rotate(0deg);
  z-index: 7;
}

.card-image-back {
  transform: rotate(5deg) translateX(2px);
  z-index: 6;
  filter: brightness(0.9);
}

.card-image-front.flipped {
  transform: rotate(-5deg) translateX(-20px);
  z-index: 6;
  filter: brightness(0.9);
}

.card-image-back.flipped {
  transform: rotate(0deg);
  z-index: 7;
}

.card-display:hover .card-image-front:not(.flipped),
.card-display:hover .card-image-back:not(.flipped) {
  transform: rotate(var(--hover-rotate, 0deg))
    translateX(var(--hover-translate, 0px));
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card-display:hover .card-image-back:not(.flipped) {
  --hover-rotate: 8deg;
  --hover-translate: 5px;
}

.card-display:hover .card-image-front.flipped {
  --hover-rotate: -8deg;
  --hover-translate: -10px;
}

.card-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px 0px 5px 0px;
  width: 80%;
  height: auto;
}

.card-name {
  font-family: 'Beleren Bold', sans-serif;
  font-size: 3em;
  line-height: 1;
  font-weight: 400;
  color: var(--clr-light);
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-height: 2560px), (max-width: 1100px) {
  .card-image-front,
  .card-image-back {
    border-radius: 35px;
  }
  .card-name {
    font-size: 2.25em;
  }
}

@media screen and (max-height: 1250px), (max-width: 1100px) {
  .flip-container {
    position: relative;
    height: 840px;
    width: 600px;
  }
  .card-image-front,
  .card-image-back {
    border-radius: 35px;
    width: 500px;
    height: auto;
  }
}

@media screen and (max-height: 1200px), (max-width: 800px) {
  .flip-container {
    position: relative;
    height: 750px;
    width: 540px;
  }
  .card-image-front,
  .card-image-back {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-height: 1085px), (max-width: 680px) {
  .flip-container {
    position: relative;
    height: 680px;
    width: 500px;
  }
  .card-image-front,
  .card-image-back {
    width: 440px;
    height: auto;
    border-radius: 22px;
  }
  .flip-button {
    top: -5px;
    right: -110px;
  }
}

@media screen and (max-height: 1000px), (max-width: 590px) {
  .flip-container {
    position: relative;
    height: 620px;
    width: 450px;
  }
  .card-image-front,
  .card-image-back {
    width: 400px;
    height: auto;
  }
  .flip-button {
    top: -5px;
    right: -90px;
  }
  .card-name {
    font-size: 1.8em;
  }
}

@media screen and (max-height: 910px), (max-width: 620px) {
  .flip-container {
    position: relative;
    height: 490px;
    width: 380px;
  }
  .card-image-front,
  .card-image-back {
    width: 320px;
    height: auto;
  }
}

@media screen and (max-height: 850px) {
  .card-name {
    font-size: 1.6em;
  }
}

@media screen and (max-height: 770px) {
  .flip-container {
    position: relative;
    height: 450px;
  }
  .card-image-front,
  .card-image-back {
    width: 300px;
    height: auto;
    border-radius: 14px;
  }
  .card-name {
    font-size: 1.4em;
    margin: 10px 0px 0px 0px;
  }
}

@media screen and (max-height: 740px) {
  .flip-container {
    position: relative;
    height: 400px;
    width: 350px;
  }
  .card-image-front,
  .card-image-back {
    width: 280px;
    height: auto;
  }
}

@media screen and (max-height: 660px) {
  .flip-container {
    position: relative;
    height: 380px;
  }
  .card-image-front,
  .card-image-back {
    width: 250px;
    height: auto;
  }
}

@media screen and (max-width: 470px) {
  .flip-container {
    width: 300px;
    height: 380px;
  }
  .card-image-front,
  .card-image-back {
    width: 250px;
    height: auto;
  }
  .flip-icon {
    width: 20px;
    height: 20px;
    fill: var(--clr-icon);
  }
  .flip-button {
    right: -10px;
  }
}

@media screen and (max-width: 420px) {
  .flip-container {
    width: 280px;
    height: 345px;
  }
  .card-image-front,
  .card-image-back {
    width: 230px;
    height: auto;
  }
}

@media screen and (max-width: 385px) {
  .flip-container {
    width: 250px;
    height: 310px;
  }
  .card-image-front,
  .card-image-back {
    width: 210px;
    height: auto;
  }
  .flip-icon {
    width: 16px;
    height: 16px;
    fill: var(--clr-icon);
  }
}
