.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  background-color: var(--clr-screen);
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
}
.settings-overlay.fade-in {
  animation: overlayFadeIn 0.3s forwards;
}
.settings-overlay.fade-out {
  animation: overlayFadeOut 0.3s forwards;
}

.settings-container {
  background-color: var(--clr-platinum);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  z-index: 1001;
  transition: opacity 0.5s ease-in;
  position: relative;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settings-container.fade-in {
  animation: containerFadeIn 0.3s forwards;
}
.settings-container.fade-out {
  animation: containerFadeOut 0.3s forwards;
}

.portal-top-toggles {
  width: 100%;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.settings-header {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  width: 100%;
  min-width: 299px;
}

.settings-header-text {
  font-family: 'Beleren Bold', sans-serif;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-text-blue);
  cursor: default;
}

.settings-x-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0px 0px 20px 0px;
}

.settings-x-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid var(--clr-divider);
  background-color: var(--clr-screen);
  border-radius: 50%;
  width: 58px;
  height: 58px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.settings-x-container.unselected {
  border: 1px solid var(--clr-divider);
  background-color: var(--clr-screen);
}
.settings-x-container.selected {
  border: 1px solid var(--clr-accent-blue);
  background-color: var(--clr-accent-blue);
}
.settings-x-container:hover {
  border: 1px solid var(--clr-accent-blue-hover);
  background-color: var(--clr-accent-blue-hover);
}
.settings-x-container.unselected {
  opacity: 0.3;
}

.settings-x-value {
  margin: 2px 0px 0px 0px;
  font-family: 'Beleren Bold', sans-serif;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  color: var(--clr-light);
  margin: 4px 0px 0px 2px;
}

.settings-dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

.settings-dropdown-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4px;
  border: 1px solid var(--clr-divider);
  border-radius: 8px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  z-index: 5;
  box-shadow: 0px 1px 5px #0000004b;
}
.settings-dropdown-header:hover {
  background-color: var(--clr-screen-blue);
}

.settings-dropdown-header-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.settings-header-subtext {
  font-family: 'Beleren Bold', sans-serif;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
  width: 100%;
  text-align: left;
}

.settings-header-dropdown-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
}

.down-icon,
.up-icon {
  fill: var(--clr-icon);
  width: 25px;
  height: auto;
  transition: all 0.15s ease-in-out;
  opacity: 0.4;
}
.up-icon {
  transform: scaleY(-1);
}
.settings-dropdown-header:hover .down-icon,
.settings-dropdown-header:hover .up-icon {
  opacity: 1;
}

.settings-dropdown-contents {
  overflow: hidden;
  transition: height 3s ease-in-out;
  border: 1px solid var(--clr-divider);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: -1px 0px 0px 0px;
  box-shadow: 0px 1px 5px #0000004b;
  clip-path: inset(0px -10px -10px -10px);
  z-index: 2;
}

.settings-known-cards-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6px;
  margin: 10px 0px 10px 0px;
  padding: 0 10px;
}

.settings-rank {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--clr-divider);
  background-color: var(--clr-divider);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  font-family: 'Beleren Bold', sans-serif;
  font-size: 0.8em;
  opacity: 1;
}
.settings-rank.unselected {
  opacity: 1;
}
.settings-rank:hover {
  border-color: var(--clr-accent-orange-hover);
  background-color: var(--clr-accent-orange-hover);
}
.settings-rank.selected {
  border-color: var(--clr-accent-orange);
  background-color: var(--clr-accent-orange);
  color: var(--clr-light);
  opacity: 1;
}
.settings-rank.unused {
  opacity: 0.4;
  pointer-events: none;
}

.settings-rank-value {
  font-family: 'Beleren Bold', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  pointer-events: none;
  margin: 2px 0px 0px 0px;
}
