@keyframes pointerSwipe {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-40px) translateY(-12px);
    opacity: 1;
  }
  50% {
    transform: translateX(-40px) translateY(-300px);
    opacity: 0;
  }
  75%,
  100% {
    transform: translateX(-40px) translateY(-300px);
    opacity: 0;
  }
}

@keyframes trail {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  40% {
    opacity: 0.4;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 0;
    transform: translateY(-20px) scale(0.5);
  }
}

.slidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.slidebar-content,
.slidebar-content-inactive {
  position: relative;
  width: 60px;
  height: 100%;
  max-height: calc(100% - 100px);
  z-index: 10;
}
.slidebar-content-inactive {
  opacity: 0.4;
}

.dashes {
  position: relative;
  height: 100%;
  width: 30px;
}

.dash-container {
  position: absolute;
  left: 0;
  transform: translateY(50%);
  height: 10px;
}

.dash-svg {
  position: absolute;
  left: 0;
  margin: 0px 0px 0px 15px;
  height: 14px;
}

.dash-label {
  position: absolute;
  left: 5px;
  font-family: 'Beleren Bold', sans-serif;
  font-size: 10px;
  white-space: nowrap;
  text-align: right;
}

.thumb,
.thumb-inactive {
  position: absolute;
  left: 55px;
  transform: translateY(50%);
  width: 42px;
  height: 42px;
}
.thumb {
  cursor: pointer;
  opacity: 1;
}
.thumb-inactive {
  cursor: default;
  opacity: 0.6;
}

.pin-icon-orange {
  fill: var(--clr-accent-orange);
}
.pin-icon-inactive {
  fill: var(--clr-accent-orange);
}
.pin-icon-inactive {
  cursor: default;
}
.thumb:hover .pin-icon-orange {
  fill: var(--clr-accent-orange-hover);
  scale: 110%;
}
.pin-icon-zero {
  fill: var(--clr-divider);
  opacity: 0.4;
}
.thumb:hover .pin-icon-zero {
  fill: var(--clr-accent-orange-hover);
  scale: 110%;
}

.tooltip-image {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.MuiTooltip-tooltip {
  background: var(--clr-screen) !important;
  border: 2px solid var(--clr-dark) !important;
  border-radius: 8px !important;
  backdrop-filter: blur(4px);
  padding: 8px !important;
  z-index: 20 !important;
}

.revealed-dash {
  cursor: help;
}

.revealed-dash line {
  stroke: var(--clr-accent-blue);
}
.revealed-dash:hover line {
  stroke: var(--clr-accent-blue-hover);
  stroke-width: 10;
}

.tooltip-text {
  font-family: 'Beleren Bold', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1;
  color: var(--clr-light);
  text-align: center;
  width: 100%;
}

.slidebar-label,
.slidebar-label-inactive {
  font-family: 'Beleren Bold', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  color: var(--clr-light);
  text-align: center;
  width: 100%;
  margin: 10px 0px 10px 2px;
}
.slidebar-label-inactive {
  opacity: 0.4;
}

.pointer-container {
  pointer-events: none;
}

.point-icon {
  width: 65px;
  fill: var(--clr-icon);
  position: absolute;
  bottom: 12px;
  right: -150px;
  animation: pointerSwipe 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: bottom center;
}

.point-icon::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--clr-icon);
  border-radius: 50%;
  opacity: 0;
  animation: trail 2s infinite;
}
